
@import "chroma/syntax-light.css";

@variant dark {
    @import "chroma/syntax-dark.css";
}


/* inline-chroma */
/* = .cnt code */

code.chroma {
    white-space: pre-wrap;
    font-weight: 400;                  /* undo .cnt code, match block-chroma */
    font-size: 0.8em;                  /* 12.8/r16   */ /* match block-chroma */
    border-radius: .25rem;             /*  4  /r16   */
    padding-top: .3125em;              /*  4  /e12.8 */
    padding-inline-end: .46875em;      /*  6  /e12.8 */
    padding-bottom: .3125em;           /*  4  /e12.8 */
    padding-inline-start: .46875em;    /*  6  /e12.8 */

    &::before,
    &::after {
        content: none;         /* undo .cnt code */
    }

    :where(h1, h2, h3) & {
        vertical-align: text-top;
        border-radius: .375rem;
    }
}



/* block-chroma outer wrapper */
/* = .cnt pre */

.highlight {
    font-weight: 400;                           
    font-size: .8em;           /* 12.8/r16   */
    line-height: 1.71875;      /* 22  /e12.8 */
    border-radius: .375rem;    /*  6  /r16   */
    margin-top: 2.5em;         /* 32  /e12.8 */
    margin-bottom: 2.5em;      /* 32  /e12.8 */
    position: relative;
    overflow: hidden;

    /* block-chroma inner wrapper (bg layer) */
    /* = .cnt pre code */
    > .chroma {
        overflow-x: auto;
        padding-top: .9375em;          /* 12/e12.8 */
        padding-bottom: .9375em;       /* 12/e12.8 */
    }

    /* make lines full-width for proper line-highlighting (hl) */
    table .lntd:not(:first-of-type) {
        width: 100%;
    }

    /* block-chroma columns */
    code {
        display: grid;
    }

    /* block-chroma code col, match .cnt pre */
    .cl {
        padding-inline-start: 1.25em;      /* 16/e12.8 */
        padding-inline-end: 1.25em;        /* 16/e12.8 */
    }

    /* block-chroma code col, cancel padding-start when showing line no. */
    .ln ~ .cl,      /* non-table */
    table .cl {     /* table */
        padding-inline-start: .46875em;    /* 6/e12.8 */
    }

    /* block-chroma line no. col, set padding-start when showing line no. */
    code .ln,       /* non-table */
    code .lnt {     /* table */
        padding-inline-start: 1.25em;      /* 16/e12.8 */
    }
}

> :where(ul, ol)
> :where(li)
.highlight {
    margin-top: .9375em;       /* 12/e12.8 */
    margin-bottom: .9375em;    /* 12/e12.8 */
}

> :where(ul, ol)
> :where(li)
> .highlight:first-child {
    margin-top: 1.5625em;      /* 20/e12.8 */
}

> :where(ul, ol)
> :where(li)
> .highlight:last-child {
    margin-bottom: 1.5625em;   /* 20/e12.8 */
}


/* Copy Button */

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: var(--color-neso-fg1);
    background: var(--color-neso-bg3);
    border-radius: 4px;
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
    z-index: 1;
}

.highlight,
pre:not(.highlight *) {
    &:hover .copy-code {
        display: block;
    }
}
